/*
  I have based my website on the design of Team Havana. They had many designing errors in their website and I have tried my best to
  improve on them. The link to their website is here - http://csc174.org/assignment02/havana/ 
  The improvents are - 
  1. I have used only three colors that go with each other through out the website. 
  2. I have added a navigation bar at the top that makes navigation to different websites really easy. 
  3. I have resized the picture and centered the material so that it is easier for the user to recognise the pattern.
  4. I have focused on the white spacing and proximity to make it user for the website. 
*/

body{
    margin-top: 0px;
    margin-bottom: 0px;
    font-family: 'Montserrat', sans-serif;
}
a{
    text-decoration: none;
}
h1{ 
    margin-top: 80px;
    margin-bottom: 30px;
    padding: 20px 40px 20px 250px; 
    letter-spacing: 7px ; 
    color: white;
}

h2{
    letter-spacing: 4px;
    
}
.footer{
    margin-top: 50px;
    margin-bottom: 20px;
    color: grey;   
    text-align: center;
}
.image{
 width: 200px;
 height: 200px;
}

span{
    color: #EEA17A;
}
.container{
    padding: 10px 30px 10px 30px;
    margin-left: 20%;
    margin-right: 20%;
    height: 100%;
    margin-top:0px;
    background-color: black;
}

.team{
    padding: 0% 22% 0% 11%;
    display: flex;
}
.middle-card{
    
    padding: 0px 90px 0px 100px;
}
.right-card{
    padding: 0px 0px 0px 0px;
}

.card-name{
    height: 40px;
    text-align: center;
    border-color: white;
    border-style: solid;
    text-align: center;
}
.card-name:hover{
    background-color: #EEA17A;
}

.card-text{
    color: white;
    font-size: 20px;
    position: relative;
    top: 8px;
}
.card-text:hover{
    color: white;
    font-size: 20px;
}
a:hover{
    text-decoration: none;
}

.roles{
    margin-top: 100px;
    text-align: center;
    color: white;
}
.role-div{
    text-align: center;
    margin-top: 55px;
    padding: 0% 12% 0% 12%;
    display: flex;
}
.role-name{
height: 40px;
width: 200px;
border-color: white;
border-style: solid;
text-align: center;

}
p{
    margin: 0px 0px 0px 0px;
}

.role-title{
    height: 40px;
    width: 200px;
    border-color:white;
    border-style: solid;
    text-align: center; 
    }

.role-text{
        color: white;
        font-size: 20px;
        position: relative;
        top: 8px;
}

.seattle{
    margin-top: 10px;
    width: 100%;
}

img{
    width: 100%;
}


.card{
/* padding: 20px 20px 20px 20px; */
margin: 20px 37px 20px 37px;
}
.image{
    border: 2px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 200px;
  }
  
  .image:hover {
    box-shadow: 0 0 10px 1px #EEA17A;
  }

.is-current {
  background-color: #525252;
}
  